html
{
	height: 100%;
}
body
{
	background-color : #F0FFFF;
	margin: 20px;

	font-family: "Arial Narrow", sans-serif;
	font-size: 125%;

	display: flex;
	flex-direction: column;

	height: 100%;
}
	
	
	
header
{
	padding: 30px; /*marge*/
	background-color: #87b4d4;
}

/* classes de l'entête */
.containerHead
{
	flex-direction: row;
	align-items: center; /*alignement vertical*/

	font-size: 1em; 
}

#logo
{
    position:absolute;
    right : 0px;
    width: 20%;
}

.bouton:link
{
	color: white;
	text-decoration: none;

	background-color: #35008a;
	border: 4px outset #4900bf;
	padding: 5px 13px;

	transition-duration: 0.5s;
}

p
{
	text-align: justify;
	text-indent: 3em;
}

.pageTitle
{
	border-bottom: 2px solid black;
}

nav
{
	padding: 5px;
	border-radius: 10px;
	background-color: #87b4d4;
}

li a
{
	color: black;
	text-decoration: none;
}

footer
{
	background-color: #87b4d4;
	padding: 5px;

	text-align: center;
}