
/* HEADER */
header
{
	padding: 30px;
	background-color: #87b4d4;
	border-top: 6px solid #104d7a;
	border-bottom: 6px solid #104d7a;

	font-family: "Verdana", "Arial Black", sans-serif;
	color: black;
	text-align: center;
}

/* FOOTER */
footer
{
	padding: 20px;
	margin-top: 50px; 
	background-color: #87b4d4;

	font-family: "Verdana", sans-serif;
	text-align: center;
	font-size: 1em; 
}

/* NAVIGATION */
nav
{
	padding: 35px 30px 35px 30px;
	margin: 30px auto;
	width: 80%;
	border: 6px #935ba8 solid;

	box-shadow: 6px 6px 6px gray;
	background-color: #dcbce8;
}

/* SECTION */ 
section
{	
	padding: 40px 50px 40px 50px; /* marge intérieure*/
	margin: auto; /*centré*/
	width: 80%; /*p occupe 80% de la page mais dépasse pas 90em*/
	max-width: 90em;
	min-width: 30em;
	
	box-shadow: 6px 6px 6px gray;
	background-color: #ebebeb; /* héhé ebebeb */
}

/* CORPS de la page */
body
{
	background-image: url("images/patte1.jpg");
	background-attachment: fixed; /* Le fond restera fixe */
    color: black; /* Le texte de la page sera noir */
    font-size: 1em; 
}

/* ARTICLE */
article
{
	padding: 10px 0px 10px 0px; 
}

/* PARAGRAPHES */
p
{
	font-family: "Verdana", sans-serif;
	text-align: justify;
	text-indent: 40px; /*Indente la 1ere ligne de chaque paragraphe*/
	font-size: 1.6em; 
}

@font-face 
{
    font-family: 'policeTitre';
    src: url('Walkway/Walkway_Bold.ttf') format('truetype');
}

/* TITRES de niveau 1, 2 et 3 */
h1
{
	padding: 10px;
	border-top: 7px #104d7a dotted;
	border-bottom: 7px #104d7a dotted;

	font-weight: bold;	/*texte en gras*/
	font-size: 4.2em;
	font-family: 'policeTitre', 'Verdana', sans-serif;
}

h2, h3
{
	padding: 10px 0 10px 0px; /* marge intérieure*/
	border-bottom: 1px solid #1566a3; /* Pas de bordure = "none". */

	font-family: "Verdana", sans-serif;
	font-weight: bold;
	font-size: 2.3em; 
}

h2
{
	border-bottom: 2px solid #1566a3; /* Pas de bordure = "none". */

	font-size: 2.7em; 
	text-align: center;
}

/* style des mots importants */
strong
{
    font-weight: bold; /* gras */ 
	color: purple; /*#c20000;*/
}


/* LIENS */

/*liens normaux*/
a /* Liens par défaut (non survolés) */
{
	font-family: "Verdana", sans-serif;
	text-decoration: underline;
	color: #06026e;

	transition-duration: 0.5s; /* Les liens grossissent quand survolés */
}

/*liens du nav*/
li a 
{
	font-size: 1.3em; 
	color: #06026e;
	background-color: transparent;
}

/* Attention ne pas changer l'ordre ! ordre : link, visited, hover, active;*/

.bouton:link
{
	color: white;
	text-decoration: none;

	background-color: #35008a;
	border: 4px outset #4900bf;
	padding: 5px 13px;

	transition-duration: 0.5s;
}

/* lien déjà visité */
a:visited 
{
  color: #380661;
}

.bouton:visited
{
	color: white;

	background-color: #35008a;
	border: 4px outset #4900bf;
	padding: 5px 13px;
}

/* lien survolé */
a:hover
{
	color: rgb(78, 115, 181);
	font-size: 1.4em;

	transition-duration: 0.5s;
}

.bouton:hover
{
	color: white;

	background-color: #4900bf;
	border: 4px outset #5c00f0;

	padding: 5px 13px;
	font-size: 2.2em;
}

/* Liens actifs */
a:active 
{
    color: #e0fffe;
}

.bouton:active
{
	color: #35008a;

	background-color: white;
	border: 4px inset #f7f7f7;
	padding: 5px 13px;
}


/* TABLEAUX */
caption 
{
	margin: 10px 0px 0px 0px;
	padding: 8px; /*Espace entre le tableau et la légende*/

	caption-side: bottom;
	color: black;
	font-style: italic;
}

table 
{
	margin: 30px 20px 0px 20px;
	border: 2px solid #3b3b3b;
	border-collapse: collapse;
	border-spacing: 0px;

	font-family: "Verdana", sans-serif;
	font-size: 1.7em;
}

td,th 
{
	border: 1px solid #3b3b3b; /*contours du tableau*/
 	padding: 3px 5px;
 	text-align: center;
}

th 
{
	color: #262626;
	background-color: #dcbce8;
}

/* FIGURES */

img
{
	max-width: 100%;
	height: auto;
}

figure 
{
	padding: 40px 40px 40px 40px;
	margin: 10px auto;

	width: 50%;

	text-align: center;
	font-family: "Verdana", sans-serif;
	font-size: 1.2em;
}

/* légende des figures */
figcaption 
{
	padding: 8px 0;
	margin: 0px 0px 0px 0px;

	background-color: #262626;
	color: white;

	caption-side: bottom;
	text-align: center;
	font-size: 1.3em;
	font-style: italic;
}

/* IMAGES */
.gif
{
	width: 40%;
}

/* LISTES */
ul
{
	font-family: "Verdana", sans-serif;
	font-size: 15px;
	list-style: "►";
}

ul ul
{
	list-style : disc;
}

/*-------------------FLEXBOX-------------------*/


.element
{
	padding: 5px 0px;
}


/* liste dans le nav */
nav ul
{
	list-style: none; /* pas de puce pour le menu */

	display: flex;
	flex-flow: column wrap;
	justify-content: space-between; 
}

/* éléments de la liste du nav */
nav li
{
	padding: 5px 0px;
	margin: 0px 0px;
}


/* classes de l'entête */
.containerHead
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;	/*pas de retour à la ligne si trop long*/
	justify-content: space-around; /*alignement horizontal*/
	align-items: center; /*alignement vertical*/

	font-size: 1em; 
}

/* logo de la bannière */
.logo
{
	width: 13%;
}

/* classes de la galerie photo */
.containerGalerie
{
	margin: 70px 0px 10px 0px;

	display: flex; /*en ligne et retour à la ligne*/
	flex-flow: row wrap; 

	justify-content: space-between; /*alignement horizontal avec espace entre images*/
	align-items: end; /*alignement vertical*/

	font-size: 1em;
}

/* figures de la galerie */
.galerie
{
	padding: 0;
	margin: 15px 5px;

	width: 32%;
}

/* légendes de la galerie */
.galerie figcaption 
{
	padding: 8px 0;
	margin: 0px 0px 0px 0px; /*haut, droite, bas, gauche*/
	
	background-color: #262626;
	color: white;

	caption-side: bottom;
	text-align: center;
	font-size: 1.3em;
	font-style: italic;
}

/* classe pour le gif */
.containerGif
{
	margin-top: 5em;
	display: flex; /*en ligne et pas de retour à la ligne*/
	flex-flow: row nowrap; 

	justify-content: space-between; /*alignement horizontal*/
	align-items: flex-end; /*alignement vertical*/

	font-size: 1em; 
}

/* FORMULAIRE */

form
{
	margin-top: 1em;
}

.containerFormId, .containerFormCo
{
	width : 80%;

	margin-left : auto;
	margin-right: auto;
	margin-top : 2em;
	margin-bottom : 4em;

	font-family: "Verdana", sans-serif;
	font-size: 1.5em;

	overflow : hidden;
	border : 2px outset #104d77;
	padding : 1em;

	border-top-left-radius: 15px;
	border-bottom-right-radius : 15px;
}

.containerFormId span, .containerFormCo span
{
	font-size : 0.75em;
	font-style : italic;
	margin-top : 2em;
}

.containerFormId input, .containerFormCo input /* Aligne les éléments du formulaire */
{
	display: block;
	float: right;

	border-radius : 5px;
}

.containerFormId label, .containerFormCo label
{
	font-size: 1.2em;
}

.containerFormId p, .containerFormCo p
{
	text-align : center;
	font-size: 3em;
}

/*messages d'erreur lorsque le formulaire n'est pas rempli correctement*/
.errorForm
{
	margin-top: 1.1em;
}

/*les messages d'erreur personnalisés*/
p.errorFirstname, p.errorLastname, p.errorBirthday, p.errorUsername, p.errorPassword, p.errorMail
{
	display: block;
	padding: 0;
	margin: 0;
	text-indent: 0;

	text-align : center;
	font-size: 1.1em;
}

.containerFormQuiz p.rightAnswer
{
	text-indent : 0;
	margin-top: 1em;
	padding: 0em;

	font-size: 1.4em;
}

/*si il n'y a pas d'erreur, le message n'apparait pas */
p.noError
{
	display: none;
}

/* affichage message d'erreur et commentaire du score */
#validId, #texteResultat
{
	text-align : center;
	font-size : 1.7em;

	color : purple;
	font-weight : bold;

	text-indent: 0px;

	margin : auto;
}

.containerFormQuiz input
{
	display: block;
	float: left;

	border-radius : 5px;
}

/*réponses*/
.containerFormQuiz label
{
	font-size: 1.6em;
}

/*questions*/
.containerFormQuiz p
{
	padding-bottom: 0.8em;
	font-size : 1.7em;
}

.containerFormQuiz input[type = "text"]
{
	width : 100%;
}

.containerFormQuiz
{
	border-bottom : 1px solid #104d7a;
	padding : 1.3em;

	font-size : 1em;
}

.quiz
{
	margin-top: 3.5em;
}

/*bouton validation*/
.validerQuiz
{
	display : flex;
	justify-content : center;

	padding-top: 1.5em;
	margin: auto;
	width : 50%;
}

/*question 7 + photo*/
.containerFormFigure
{
	display: flex;
	flex-flow: row nowrap; 
	justify-content: space-between; /*alignement horizontal*/
	align-items: start;
}

/* contient la photo du quiz */
.FigureQuiz
{
	padding :0;
	width: 35%;
}

.resultat
{
	display: flex;
	flex-direction : column;
	align-items: center;

	margin : 0.5em;
	padding: 2.5em;
	font-size : 3em;
}

.resultat img
{
	width: 50%;
}

/* PIED DE PAGE */
.containerFoot
{
	display: flex; /*en ligne et retour à la ligne*/
	flex-flow: row wrap; 

	justify-content: space-around;

	font-size: 1.8em; 
}

.containerFoot .element
{
	padding: 10px;

	border-left : 5px double black;
	border-right : 5px double black;

}

/* CHATBOX */

#conversation
{
	height : 500px;
	width : 90%;
	margin : auto;
	border : 3px solid #935ba8;
	background-color: #FFFFFF;

	font-size : 0.5em;
	overflow : scroll;

	padding : 5px;
}

.chatBouton
{
	display: flex;
	justify-content : center;

	margin-top: 2em;
	width: auto;
}

.containerChat
{
	margin-top: 2em;
	margin-bottom: 4.5em;

	font-size: 1.5em;
	font-family: "Verdana", sans-serif;
}

.containerChat label
{
	display: inline-block;
	margin-bottom: 1em;
	margin-top: 1em;
}

#conversation em
{
	color : #935ba8;
	font-weight : bold;
	font-style : normal;
}

#conversation p
{
	text-indent: 0px;
}

textarea 
{
  resize: none;
}
























/*-------------------MEDIA QUERIES------------------- */


/*----------------small smartphones---------------- */

@media only screen and (max-width: 600px)
{
	/* HEADER */

	/* logo de la bannière */
	.logo
	{
		display: none;
	}
		
	header
	{
		padding: 10px; /* marge intérieure*/

		border-top: 3px solid #104d7a;
		border-bottom: 3px solid #104d7a;
	}

	/* NAVIGATION */
	nav
	{
		padding: 15px 10px 15px 10px; /* marge intérieure*/
		margin: 20px auto; /*haut et bas à 30px, centré horizontalement*/
		width: auto;

		border: 2px #935ba8 solid;
		box-shadow: none;
		background-color: #dcbce8; /*#ccdef0;*/
	}

	/* SECTION */ 
	section
	{	
		padding: 20px 20px 20px 20px; /* marge intérieure*/
		margin: auto; /*centré*/

		width: auto;
		min-width: 30em;
		
		box-shadow: none;
		background-color: #ebebeb;
	}

	/* ARTICLE */
	article
	{
		padding: 5px 0px 5px 0px; 
	}

	/* IMAGES */
	figure 
	{
		padding: 20px 20px 20px 20px; /* marge intérieure*/
		margin: 5px auto; /*centre l'image*/

		width: auto;
	}

	figcaption 
	{
		padding: 4px 0;
		margin: 0px 0px 0px 0px; /*haut, droite, bas, gauche*/

		background-color: #262626;
		color: white;

		font-size: 0.8em;
	}


	.containerGalerie
	{
		margin: 10px 0px 10px 0px;

		display: flex;
		/*en ligne et retour à la ligne*/
		flex-flow: column wrap; 

		justify-content: space-between; /*alignement horizontal avec espace entre images*/
		align-items: center; /*alignement vertical*/

		font-size: 1.1em;
	}

	/* figures de la galerie */
	.galerie
	{
		padding: 0;
		margin: 5px 0;

		width: 90%;
	}

	/* légendes de la galerie */
	.galerie figcaption 
	{
		padding: 4px 0;
		margin: 0px 0px 0px 0px; /*haut, droite, bas, gauche*/
		
		font-size: 1em;
	}

	/* PARAGRAPHES */
	p
	{
		font-size: 1.4em; 
		text-indent: 0px; /*pas d'indentation*/

	}

	/* TITRES de niveau 1, 2 et 3 */
	h1
	{
		font-size: 3em;
	}

	h2, h3
	{
		padding: 2px 0 2px 0px; /* marge intérieure*/
	}

	h2
	{
		font-size: 2em; 
	}

	h3
	{
		font-size: 1.7em; 
	}


	/* listes */
	ul
	{
		font-size: 13.5px;
	}


	/* TABLEAU */
	table 
	{
		margin: 20px 0px 0px 0px; /*haut, droite, bas, gauche*/

		width: auto;
		overflow-x: scroll;

		font-family: "Verdana", sans-serif;
		font-size: 1em;
	}

	caption 
	{
		margin: 0px 0px 0px 0px; /*haut, droite, bas, gauche*/
		padding: 2px; /*Espace entre le tableau et la légende*/
	}

	td,
	th 
	{
		border: 2px solid #3b3b3b; /*contours du tableau*/
	 	padding: 1px 2px;

	 	text-align: center;
	}


	/* FOOTER */
	footer
	{
		padding: 10px; /* marge intérieure haut, droite, bas, gauche*/
		margin-top: 20px; 

		font-size: 1.2em; 
	}

	.containerFoot
	{
		display: flex;
		/*en ligne et retour à la ligne*/
		flex-flow: column wrap; 

		justify-content: space-around;

		font-size: 1.2em; 
	}

	.element
	{
		padding: 0px 3px;

		/* éléments sont centrés, équivalent à justify-content: space-around*/	
	}

	.gif
	{
		display: none;
	}

	.bouton
	{
		font-size: 1.35em;
	}

	.bouton:link
	{
		color: white;

		background-color: #35008a;
		border: 2px outset #4900bf;
		padding: 2px 7px;
	}

	.bouton:hover
	{
		font-size: 1.45em;
	}

	/* FORMULAIRE */

	form
	{
		margin-top: 0.4em;
	}

	#validId
	{
		font-size: 1.5em;
	}

	#texteResultat
	{
		font-size: 0.5em;
	}

	.containerFormId span, .containerFormCo span
	{
		font-size : 0.75em;
		font-style : italic;
		margin-top : 2em;
	}

	.containerFormId label, .containerFormCo label
	{
		font-size: 0.9em;
	}

	.containerFormId p, .containerFormCo p
	{
		padding: 0em 0px 0.7em 0px;

		font-size: 1.2em;
		text-indent: 0;
	}

	/*messages d'erreur à l'inscription */
	p.errorFirstname, p.errorLastname, p.errorBirthday, p.errorUsername, p.errorPassword, p.errorMail
	{
		font-size: 0.9em;
	}

	.containerFormQuiz p.rightAnswer
	{
		font-size: 1.2em;
	}

	.containerFormQuiz label
	{
		font-size: 1.4em;
	}

	/*questions*/
	.containerFormQuiz p
	{
		padding-bottom: 0.8em;
		font-size : 1.5em;
	}

	.containerFormFigure
	{
		flex-flow: column nowrap; 
		justify-content: space-between; /*alignement horizontal*/
		align-items: start;
	}

	.FigureQuiz
	{
		padding :0;
		margin-top: 2em;
		width: 90%;
	}

	.resultat
	{
		padding: 0.2em;
	}

	.resultat p
	{
		font-size: 0.8em; 
	}

	.resultat img
	{
		width: 80%;
	}

	.containerChat
	{
		font-size: 1.2em;
	}

}



/*-----Small devices (portrait tablets and large phones, 600px and up)----- */

@media only screen and (min-width: 600px) 
{
	/* HEADER */

	/* logo de la bannière */
	.logo
	{
		display: block;
		width: 13%;
	}
		
	header
	{
		padding: 10px; /* marge intérieure*/

		border-top: 3px solid #104d7a;
		border-bottom: 3px solid #104d7a;
	}

	/* NAVIGATION */
	nav
	{
		padding: 15px 10px 15px 10px; /* marge intérieure*/
		margin: 20px auto; /*haut et bas à 30px, centré horizontalement*/
		width: auto;

		border: 2px #935ba8 solid;
		box-shadow: none;
		background-color: #dcbce8; /*#ccdef0;*/
	}

	/* SECTION */ 
	section
	{	
		padding: 20px 20px 20px 20px; /* marge intérieure*/
		margin: auto; /*centré*/

		width: auto;
		min-width: 30em;
		
		box-shadow: none;
		background-color: #ebebeb;
	}

	/* ARTICLE */
	article
	{
		padding: 5px 0px 5px 0px; 
	}

	/* IMAGES */
	figure 
	{
		padding: 20px 20px 20px 20px; /* marge intérieure*/
		margin: 5px auto; /*centre l'image*/

		width: auto;
	}

	figcaption 
	{
		padding: 4px 0;
		margin: 0px 0px 0px 0px; /*haut, droite, bas, gauche*/

		background-color: #262626;
		color: white;

		font-size: 1em;
	}


	.containerGalerie
	{
		margin: 10px 0px 10px 0px;

		display: flex;
		/*en ligne et retour à la ligne*/
		flex-flow: column wrap; 

		justify-content: space-between; /*alignement horizontal avec espace entre images*/
		align-items: end; /*alignement vertical*/

		font-size: 1.3em;
	}

	/* figures de la galerie */
	.galerie
	{
		padding: 0;
		margin: 5px 0;

		width: 90%;
	}

	/* légendes de la galerie */
	.galerie figcaption 
	{
		padding: 4px 0;
		margin: 0px 0px 0px 0px; /*haut, droite, bas, gauche*/
		
		font-size: 1em;
	}

	/* PARAGRAPHES */
	p
	{
		font-size: 1.4em; 
		text-indent: 20px; /*Indente la 1ere ligne de chaque paragraphe*/

	}

	/* TITRES de niveau 1, 2 et 3 */
	h1
	{
		padding: 0 10px;
		font-size: 3.5em;
	}

	h2, h3
	{
		padding: 2px 0 2px 0px; /* marge intérieure*/
	}

	h2
	{
		font-size: 2.2em; 
	}

	h3
	{
		font-size: 1.9em; 
	}


	/* listes */
	ul
	{
		font-size: 13px;
	}


	/* TABLEAU */
	table 
	{
		margin: 20px 0px 0px 0px; /*haut, droite, bas, gauche*/

		width: auto;
		overflow-x: scroll;

		font-family: "Verdana", sans-serif;
		font-size: 1.1em;
	}

	caption 
	{
		margin: 0px 0px 0px 0px; /*haut, droite, bas, gauche*/
		padding: 2px; /*Espace entre le tableau et la légende*/

		caption-side: bottom;
		color: black;
		font-style: italic;
	}


	/* FOOTER */
	footer
	{
		padding: 10px; /* marge intérieure haut, droite, bas, gauche*/
		margin-top: 20px; 

		font-size: 1.2em; 
	}

	.containerFoot
	{
		display: flex;
		/*en ligne et retour à la ligne*/
		flex-flow: column wrap; 

		justify-content: space-around;

		font-size: 1.4em; 
	}

	.element
	{
		padding: 0px 3px;

		/* éléments sont centrés, équivalent à justify-content: space-around*/
		/*margin: auto;*/	
	}

	.gif
	{
		display: none;
	}

	.bouton
	{
		font-size: 1.6em;
	}

	.bouton:link
	{
		color: white;

		background-color: #35008a;
		border: 3px outset #4900bf;
		padding: 4px 9px;
	}

	.bouton:hover
	{
		font-size: 1.9em;
	}

	/* FORMULAIRE */
	form
	{
		margin-top: 0.8em;
	}

	#validId
	{
		font-size: 1.6em;
	}

	#texteResultat
	{
		font-size: 0.5em;
	}


	.containerFormId span, .containerFormCo span
	{
		font-size : 0.8em;
		font-style : italic;
		margin-top : 2em;
	}

	.containerFormId label, .containerFormCo label
	{
		font-size: 0.95em;
	}

	.containerFormId p, .containerFormCo p
	{
		font-size: 1.3em;
	}

	/*messages d'erreur à l'inscription */
	p.errorFirstname, p.errorLastname, p.errorBirthday, p.errorUsername, p.errorPassword, p.errorMail
	{
		font-size: 1.1em;
	}

	.containerFormQuiz p.rightAnswer
	{
		font-size: 1.4em;
	}

	.containerFormQuiz label
	{
		font-size: 1.5em;
	}

	/*questions*/
	.containerFormQuiz p
	{
		padding-bottom: 0.8em;
		font-size : 1.6em;
	}

	.containerFormFigure
	{
		flex-flow: column nowrap; 
		justify-content: space-between; /*alignement horizontal*/
		align-items: start;
	}

	.FigureQuiz
	{
		padding :0;
		margin-top: 2em;
		width: 50%;
	}

	.resultat
	{
		padding: 0.2em;
	}

	.resultat p
	{
		font-size: 1em; 
	}

	.resultat img
	{
		width: 70%;
	}

	.containerChat
	{
		font-size: 1.2em;
	}
}



/*-----Medium devices (landscape tablets, 768px and up)----- */

@media only screen and (min-width: 768px) 
{
	/* HEADER */
		
	/* logo de la bannière */
	.logo
	{
		width: 13%;
	}

	header
	{
		padding: 20px; /* marge intérieure*/

		border-top: 4px solid #104d7a;
		border-bottom: 4px solid #104d7a;
	}

	/* NAVIGATION */
	nav
	{
		padding: 25px 20px 25px 20px; /* marge intérieure*/
		margin: 30px auto; /*haut et bas à 30px, centré horizontalement*/
		width: 80%;

		border: 4px #935ba8 solid;
		box-shadow: 4px 4px 4px gray;
	}

	/* SECTION */ 
	section
	{	
		padding: 30px 40px 30px 40px; /* marge intérieure*/
		margin: auto; /*centré*/

		width: 80%; /*p occupe 80% de la page mais dépasse pas 90em*/
		max-width: 90em;
		min-width: 30em;
		
		box-shadow: 4px 4px 4px gray;
	}

	/* ARTICLE */
	article
	{
		padding: 10px 0px 10px 0px; 
	}

	/* IMAGES */
	figure 
	{
		padding: 40px 40px 40px 40px; /* marge intérieure*/
		margin: 10px auto; /*centre l'image*/

		max-width: 60%;
	}

	figcaption 
	{
		padding: 5px 0;
		margin: 0px 0px 0px 0px; /*haut, droite, bas, gauche*/

		font-size: 1.1em;
	}


	.containerGalerie
	{
		margin: 70px 0px 10px 0px;

		display: flex;
		/*en ligne et retour à la ligne*/
		flex-flow: row wrap; 

		justify-content: space-between; /*alignement horizontal avec espace entre images*/
		align-items: end; /*alignement vertical*/

		font-size: 1.3em;
	}

	/* figures de la galerie */
	.galerie
	{
		padding: 0;
		margin: 15px 5px;

		max-width: 40%;
	}

	/* légendes de la galerie */
	.galerie figcaption 
	{
		padding: 5px 0;
		margin: 0px 0px 0px 0px; /*haut, droite, bas, gauche*/

		font-size: 1.1em;
	}

	p
	{
		font-size: 1.5em; 
		text-indent: 20px; /*Indente la 1ere ligne de chaque paragraphe*/

	}

	/* TITRES de niveau 1, 2 et 3 */
	h1
	{
		padding: 0 10px;
		font-size: 4.8em;
	}

	h2, h3
	{
		padding: 10px 0 10px 0px; /* marge intérieure*/
	}

	h2
	{
		font-size: 2.5em; 
	}

	h3
	{
		font-size: 2.1em; 
	}


	/* listes */
	ul
	{
		font-size: 15px;
	}

	nav ul
	{
		font-size: 1.5em;
	}


	/* TABLEAU */
	table 
	{
		margin: 30px 10px 0px 10px; /*haut, droite, bas, gauche*/
		font-size: 1.5em;
	}

	caption 
	{
		margin: 5px 0px 0px 0px; /*haut, droite, bas, gauche*/
		padding: 4px; /*Espace entre le tableau et la légende*/
	}


	/* FOOTER */
	footer
	{
		padding: 10px; /* marge intérieure haut, droite, bas, gauche*/
		margin-top: 30px; 

		font-size: 1em;
	}

	.containerFoot
	{
		display: flex;
		/*en ligne et retour à la ligne*/
		flex-flow: column wrap; 

		justify-content: space-around;

		font-size: 1.5em; 
	}

	.element
	{
		padding: 5px 0px;
	}

	.gif
	{
		display: block;
		width: 30%;
	}

	.bouton
	{
		font-size: 1.6em;
	}

	.bouton:link
	{
		color: white;

		background-color: #35008a;
		border: 3px outset #4900bf;
		padding: 4px 10px;
	}

	.bouton:hover
	{
		font-size: 1.9em;
	}

	/* FORMULAIRE */
	form
	{
		margin-top: 1em;
	}

	#validId
	{
		font-size: 1.7em;
	}

	#texteResultat
	{
		font-size: 0.6em;
	}

	.containerFormId span, .containerFormCo span
	{
		font-size : 0.85em;
		font-style : italic;
		margin-top : 2em;
	}

	.containerFormId label, .containerFormCo label
	{
		font-size: 1.1em;
	}

	.containerFormId p, .containerFormCo p
	{
		font-size: 1.5em;
	}

	/*messages d'erreur à l'inscription */
	p.errorFirstname, p.errorLastname, p.errorBirthday, p.errorUsername, p.errorPassword, p.errorMail
	{
		font-size: 1.2em;
	}

	.containerFormQuiz p.rightAnswer
	{
		font-size: 1.5em;
	}

	.containerFormQuiz label
	{
		font-size: 1.6em;
	}

	/*questions*/
	.containerFormQuiz p
	{
		padding-bottom: 0.8em;
		font-size : 1.7em;
	}

	.containerFormFigure
	{
		flex-flow: column nowrap; 
		justify-content: space-between; /*alignement horizontal*/
		align-items: start;
	}

	.FigureQuiz
	{
		padding :0;
		margin-top: 2em;
		width: 40%;
	}

	.resultat
	{
		padding: 1em;
	}

	.resultat p
	{
		font-size: 1.1em; 
	}

	.resultat img
	{
		width: 60%;
	}

	.containerChat
	{
		font-size: 1.3em;
	}
}


/*-----Large devices (laptops/desktops, 992px and up)----- */

@media only screen and (min-width: 992px) 
{
	/* HEADER */
		
	/* logo de la bannière */
	.logo
	{
		width: 13%;
	}

	header
	{
		padding: 30px; /* marge intérieure*/

		border-top: 6px solid #104d7a;
		border-bottom: 6px solid #104d7a;
	}

	/* NAVIGATION */
	nav
	{
		padding: 35px 30px 35px 30px; /* marge intérieure*/
		margin: 50px auto; /*haut et bas à 30px, centré horizontalement*/
		width: 80%;

		border: 6px #935ba8 solid;
		box-shadow: 6px 6px 6px gray;
	}

	/* SECTION */ 
	section
	{	
		padding: 40px 50px 40px 50px; /* marge intérieure*/
		margin: auto; /*centré*/

		width: 80%; /*p occupe 80% de la page mais dépasse pas 90em*/
		max-width: 90em;
		min-width: 30em;
		
		box-shadow: 6px 6px 6px gray;
	}

	/* ARTICLE */
	article
	{
		padding: 10px 0px 10px 0px; 
	}

	/* IMAGES */
	figure 
	{
		padding: 40px 40px 40px 40px; /* marge intérieure*/
		margin: 10px auto; /*centre l'image*/

		width: 50%;
	}

	figcaption 
	{
		padding: 8px 0;
		margin: 0px 0px 0px 0px; /*haut, droite, bas, gauche*/

		font-size: 1.3em;
	}


	.containerGalerie
	{
		margin: 70px 0px 10px 0px;

		display: flex;
		/*en ligne et retour à la ligne*/
		flex-flow: row wrap; 

		justify-content: space-between; /*alignement horizontal avec espace entre images*/
		align-items: end; /*alignement vertical*/

		font-size: 1em;
	}

	/* figures de la galerie */
	.galerie
	{
		padding: 0;
		margin: 15px 5px;

		max-width: 32%;
	}

	/* légendes de la galerie */
	.galerie figcaption 
	{
		padding: 8px 0;
		margin: 0px 0px 0px 0px; /*haut, droite, bas, gauche*/

		font-size: 1.4em;
	}

	p
	{
		font-size: 1.7em; 
		text-indent: 40px; /*Indente la 1ere ligne de chaque paragraphe*/

	}

	/* TITRES de niveau 1, 2 et 3 */
	h1
	{
		font-size: 5.5em;
	}

	h2, h3
	{
		padding: 10px 0 10px 0px; /* marge intérieure*/
	}

	h2
	{
		font-size: 2.7em; 
	}

	h3
	{
		font-size: 2.3em; 
	}


	/* listes */
	ul
	{
		font-size: 16px;
	}

	nav ul
	{
		font-size: 1.7em;
	}


	/* TABLEAU */
	table 
	{
		margin: 30px 20px 0px 20px; /*haut, droite, bas, gauche*/

		/*width: 50%;*/

		font-size: 1.7em;
	}

	caption 
	{
		margin: 10px 0px 0px 0px; /*haut, droite, bas, gauche*/
		padding: 8px; /*Espace entre le tableau et la légende*/
	}


	/* FOOTER */
	footer
	{
		padding: 20px; /* marge intérieure haut, droite, bas, gauche*/
		margin-top: 50px; 

		font-size: 1em;
	}

	.containerFoot
	{
		display: flex;
		/*en ligne et retour à la ligne*/
		flex-flow: row wrap; 

		justify-content: space-around;

		font-size: 1.7em; 
	}

	.element
	{
		padding: 5px 10px;

		/* éléments sont centrés, équivalent à justify-content: space-around*/
	}

	.gif
	{
		display: block;
		width: 40%;
	}

	.bouton
	{
		font-size: 1.9em;
	}

	.bouton:link
	{
		color: white;

		background-color: #35008a;
		border: 4px outset #4900bf;
		padding: 5px 13px;
	}

	.bouton:hover
	{
		font-size: 2.3em;
	}

	/* FORMULAIRE */
	form
	{
		margin-top: 1.2em;
	}

	#validId
	{
		font-size: 1.9em;
	}

	#texteResultat
	{
		font-size: 0.7em;
	}

	.containerFormId span, .containerFormCo span
	{
		font-size : 0.9em;
		font-style : italic;
		margin-top : 2em;
	}

	.containerFormId label, .containerFormCo label
	{
		font-size: 1.2em;
	}

	.containerFormId p, .containerFormCo p
	{
		font-size: 1.5em;
	}

	/*messages d'erreur à l'inscription */
	p.errorFirstname, p.errorLastname, p.errorBirthday, p.errorUsername, p.errorPassword, p.errorMail
	{
		font-size: 1.25em;
	}

	.containerFormQuiz p.rightAnswer
	{
		font-size: 1.6em;
	}

	.containerFormQuiz label
	{
		font-size: 1.7em;
	}

	/*questions*/
	.containerFormQuiz p
	{
		padding-bottom: 0.8em;
		font-size : 1.75em;
	}

	.containerFormFigure
	{
		flex-flow: row nowrap; 
		justify-content: space-between; /*alignement horizontal*/
		align-items: start;
	}

	.FigureQuiz
	{
		padding :0;
		margin-top: 0;
		width: 35%;
	}

	.resultat
	{
		padding: 1.2em;
	}

	.resultat p
	{
		font-size: 1.2em; 
	}

	.resultat img
	{
		width: 50%;
	}

	.containerChat
	{
		font-size: 1.5em;
	}
}



/*-----Extra large devices (large laptops and desktops, 1200px and up)----- */
@media only screen and (min-width: 1200px) 
{
	/* HEADER */
		
	/* logo de la bannière */
	.logo
	{
		width: 13%;
	}

	header
	{
		padding: 30px; /* marge intérieure*/

		border-top: 6px solid #104d7a;
		border-bottom: 6px solid #104d7a;
	}

	/* NAVIGATION */
	nav
	{
		padding: 35px 30px 35px 30px; /* marge intérieure*/
		margin: 50px auto; /*haut et bas à 30px, centré horizontalement*/
		width: 80%;

		border: 6px #935ba8 solid;
		box-shadow: 6px 6px 6px gray;
	}

	/* SECTION */ 
	section
	{	
		padding: 40px 50px 40px 50px; /* marge intérieure*/
		margin: auto; /*centré*/

		width: 80%; /*p occupe 80% de la page mais dépasse pas 90em*/
		max-width: 90em;
		min-width: 30em;
		
		box-shadow: 6px 6px 6px gray;
	}

	/* ARTICLE */
	article
	{
		padding: 10px 0px 10px 0px; 
	}

	/* IMAGES */
	figure 
	{
		padding: 40px 40px 40px 40px; /* marge intérieure*/
		margin: 10px auto; /*centre l'image*/

		width: 50%;
	}

	figcaption 
	{
		padding: 8px 0;
		margin: 0px 0px 0px 0px; /*haut, droite, bas, gauche*/

		font-size: 1.3em;
	}

	.containerGalerie
	{
		margin: 70px 0px 10px 0px;

		display: flex;
		/*en ligne et retour à la ligne*/
		flex-flow: row wrap; 

		justify-content: space-between; /*alignement horizontal avec espace entre images*/
		align-items: end; /*alignement vertical*/

		font-size: 1em;
	}

	/* figures de la galerie */
	.galerie
	{
		padding: 0;
		margin: 15px 5px;

		width: 32%;
	}

	/* légendes de la galerie */
	.galerie figcaption 
	{
		padding: 8px 0;
		margin: 0px 0px 0px 0px; /*haut, droite, bas, gauche*/

		font-size: 1.4em;
	}

	p
	{
		font-size: 1.7em; 
		text-indent: 40px; /*Indente la 1ere ligne de chaque paragraphe*/

	}

	/* TITRES de niveau 1, 2 et 3 */
	h1
	{
		font-size: 5.5em;
	}

	h2, h3
	{
		padding: 10px 0 10px 0px; /* marge intérieure*/
	}

	h2
	{
		font-size: 2.7em; 
	}

	h3
	{
		font-size: 2.3em; 
	}


	/* listes */
	ul
	{
		font-size: 16px;
	}

	nav ul
	{
		font-size: 1.7em;
	}


	/* TABLEAU */
	table 
	{
		margin: 30px 20px 0px 20px; /*haut, droite, bas, gauche*/

		/*width: 50%;*/

		font-size: 1.7em;
	}

	caption 
	{
		margin: 10px 0px 0px 0px; /*haut, droite, bas, gauche*/
		padding: 8px; /*Espace entre le tableau et la légende*/
	}


	/* FOOTER */
	footer
	{
		padding: 20px; /* marge intérieure haut, droite, bas, gauche*/
		margin-top: 50px; 

		font-size: 1em;
	}

	.containerFoot
	{
		display: flex;
		/*en ligne et retour à la ligne*/
		flex-flow: row wrap; 

		justify-content: space-around;

		font-size: 1.7em; 
	}

	.element
	{
		padding: 5px 10px;

		/* éléments sont centrés, équivalent à justify-content: space-around*/
	}

	.gif
	{
		display: block;
		width: 40%;
	}

	.bouton
	{
		font-size: 1.9em;
	}

	.bouton:link
	{
		color: white;

		background-color: #35008a;
		border: 4px outset #4900bf;
		padding: 5px 13px;
	}

	.bouton:hover
	{
		font-size: 2.3em;
	}

	/* FORMULAIRE */
	form
	{
		margin-top: 1.2em;
	}

	#validId
	{
		font-size: 1.9em;
	}

	#texteResultat
	{
		font-size: 0.7em;
	}

	.containerFormId span, .containerFormCo span
	{
		font-size : 0.9em;
		font-style : italic;
		margin-top : 2em;
	}

	.containerFormId label, .containerFormCo label
	{
		font-size: 1.2em;
	}

	.containerFormId p, .containerFormCo p
	{
		font-size: 1.5em;
	}

	/*messages d'erreur à l'inscription */
	p.errorFirstname, p.errorLastname, p.errorBirthday, p.errorUsername, p.errorPassword, p.errorMail
	{
		font-size: 1.25em;
	}

	.containerFormQuiz p.rightAnswer
	{
		font-size: 1.6em;
	}

	.containerFormQuiz label
	{
		font-size: 1.7em;
	}

	/*questions*/
	.containerFormQuiz p
	{
		padding-bottom: 0.8em;
		font-size : 1.75em;
	}
	.containerFormFigure
	{
		flex-flow: row nowrap; 
		justify-content: space-between; /*alignement horizontal*/
		align-items: start;
	}

	.FigureQuiz
	{
		padding :0;
		margin-top: 0;
		width: 35%;
	}

	.resultat
	{
		padding: 1.2em;
	}

	.resultat p
	{
		font-size: 1.2em; 
	}

	.resultat img
	{
		width: 50%;
	}

	.containerChat
	{
		font-size: 1.6em;
	}
}
